<%- include("partials/header.ejs") %> 

<h1
    class="align-self-center fw-bold text-light mt-5"
    style="
        font-size: 400%;
        text-shadow: -10px 20px 50px black;
        "
    >TaskPad
</h1>

<div class="align-self-center p-5 m-4">
    <%- include("./home.ejs") %>
</div>


<%- include("partials/footer.ejs") %>
